.hero-section{
    min-height: 800px;
    height: 95svh;
    display: flex;
    width: 100%;
    position: relative;
}
.hero-title{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top: calc(var(--space-xl) + var(--space-xl)); */
    padding: 0 var(--space-xs);
    padding-bottom: var(--space-lg);
    position: relative;
}
.hero-title > h1 {
    position: relative;
    text-wrap: balance;
}
.hero-title > h1::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: black;
    top: 0;
    left: -10%;
    opacity: 0.1;
}
.hero-title > h1::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: black;
    bottom: 0;
    left: -10%;
    opacity: 0.1;
}
.hero-canvas{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}
.hero-info{
    display: flex;
    justify-content: space-between;
    gap: var(--space-xl);
}

.hero-title ul {
    display: flex;
    gap: var(--space-sm);
}
.hero-title a {
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hero-title li {
    display: flex;
    align-items: end;
}
.hero-title li svg{
    width: 12px;
    height: 12px;
    stroke-width: 3px;
}


@media screen and (max-width: 768px) {
    .hero-title {
        width: 100%;
        padding: var(--space-md) 0;

        gap: var(--space-md);
    }
    .hero-title > h1 {
        width: 50%;
    }
    .hero-section {
        flex-direction: column;
        min-height: 600px;
    }
    .hero-canvas {
        width: 70%;
    }
    .hero-title ul {
        flex-wrap: wrap;
        gap: var(--space-xs);
    }
    .hero-title li svg{
    width: 8px;
    height: 8px;
    stroke-width: 1px;
}
    .hero-title li {
        font-size: var(--space-sm);
    }
    .hero-info{
        flex-direction: column;
        width: 40%;
    }
}